* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  color: white;
}

.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("../img/pixel-city-chill.gif") no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  padding: 1rem;
  color: white;
}

.web-design {
  font-family: 'Press Start 2P', monospace;
  font-size: 1.5rem;
  color: #cccccc;
  margin-bottom: 1rem;
  text-shadow: 0 0 1px #bbbbbb, 0 0 3px #bbbbbb;
}

.hero-title {
  font-family: 'Press Start 2P', monospace;
  font-size: 4rem; 
  font-weight: normal;
  margin-bottom: 1.5rem;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 1.6;
  text-shadow: 0 0 2px #fff, 0 0 5px #0ff;
  animation: flicker 2s infinite;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
  }
  20%, 22%, 24%, 55% {
    opacity: 0;
  }
}

.subtext {
  font-family: 'Press Start 2P', monospace;
  font-size: 1rem;
  color: #bbbbbb;
  margin: 0.3rem 0;
  text-shadow: 0 0 1px #bbbbbb, 0 0 3px #bbbbbb;
}
